{# {{ form_start(form) }} #}

     {#{{ form_row(form.title) }} #}
     {#{{ form_row(form.category) }}#}
    {# {{ form_row(form.content) }}#}
     {{ form_row(form.localisation) }}
     {{ form_row(form.dateevent) }}
     {#{{ form_row(form.picture) }}#}

    {# <div class="form-btn-group pull-right">
         <button type="submit" class="btn btn-primary">Enregistrer</button>
         <a href="{{ path('app_index_index') }}" class="btn btn-default">retour</a>
     </div>#}
 {#{{ form_end(form) }} #}
