{% extends 'layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script> $(function(){
        $('textarea').on('change', function(){
            console.log($(this).html());
        });
    });</script>
{% endblock %}

{% block content %}
 <div class="row">
    <h1>Envoyez un message à {{ recipient.getfullname }} </h1>
    {% include 'aside.html.twig' %}
    <div class="col-md-8">

       {{ form_start(form) }} {# ouvre notre balise form #}
  
        {{ form_row(form.message) }} {# affiche le bloc input pour ce champ #}
        <div class="form-btn-group pull-right">
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <a href="{{ path('app_index_index') }}" class="btn btn-default">Retour</a>
        </div>
    {{ form_end(form) }} {# ferme notre balise form #}        
    
    </div>
</div>   
{% endblock %}
