{% extends 'layout.html.twig' %}


{% block content %}
    <img class="logo_acc center-block" src="{{ asset("logo/fami_tr.png") }}">
        <div class="row">
            {% include 'aside.html.twig' %}
            <div class="col-md-8">
    
    {% for article in last_articles %}
        {# {% include 'article/preview.html.twig' with {"article": article} only %}  #}
        
        <article class="article">                      
             <div class="haut">            
                 {{ render(controller('App\\Controller\\MemberController::getButton', {'id':article.author.id})) }}
             </div>
                          
             <div class="titre_article">
                <h3>{{ article.title}}</h3> 
                <h4>{{ article.category.name}}</h4> 
                <p class="text-center" style="font-size:13px;"><small>Posté le : {{ article.datearticle|date('d/m/Y') }} à {{ article.datearticle|date('H:i') }}</small></p>                
            </div>  
            
            {% if article.picture %}
                <img src="{{ asset('uploads/' ~ article.picture) }}" class="picture_article pull-left">
            {% endif %}
                
            <div class="article_content clearfix">
                <p>{{ article.content|raw }}</p>
                {% if article.category.name=='Evenement' %}
                    {{ render(controller('App\\Controller\\EventController::showinfo', {'id':article.id})) }} 
                {% elseif article.category.name=='Naissance' %}
                    {{ render(controller('App\\Controller\\BirthController::showinfo', {'id':article.id})) }} 
                {% endif %}
            </div>
                {% if article.nbcomment > 0 %}
            <div>
                <button class="btn btn-xs togglec showcomment" data="{{ article.id }}">Afficher les commentaires <span class="badge">{{ article.nbcomment }}</span></button>
                <button class="btn btn-xs togglec hidecomment" data="{{ article.id }}">Masquer les commentaires <span class="badge">{{ article.nbcomment }}</span></button>
            </div>
                {{ render(controller('App\\Controller\\CommentController::listComments', {'id':article.id})) }} 
                {% endif %}
                {#formulaire pour les commentaires #}
            
                <form action="{{ path('app_comment_insert', {"id":article.id}) }}" method="post">
                {{ render(controller('App\\Controller\\CommentController::newComment')) }} 
                </form>
        </article>
        
    {% endfor %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# permet de garder le block tel qu'il est défini dans layout et d'y ajouter notre contenu spécifique / sinon on perd les script JQ et BootStrap #}
    <script src="{{ asset('JS/index.js') }}"></script>
{% endblock %}
