{% extends 'layout.html.twig' %}


{% block content %}
    <h1>Accueil</h1>
    
    {% for article in last_articles %}
        {# {% include 'article/preview.html.twig' with {"article": article} only %}  #}
        
        <article class="jumbotron">
            <h3>{{ article.title}}</h3>
            <p></p>
            
           
             {{ render(controller('App\\Controller\\MemberController::getButton', {'id':article.author.id})) }} 
            
            
            <p>{{ article.content}}</p>
            {% if article.nbcomment > 0 %}
            <div>
                <button class="btn btn-primary btn-xs togglec showcomment" data="{{ article.id }}">afficher les commentaires <span class="badge">{{ article.nbcomment }}</span></button>
                <button class="btn btn-primary btn-xs togglec hidecomment" data="{{ article.id }}">masquer les commentaires <span class="badge">{{ article.nbcomment }}</span></button>
            </div>
            {{ render(controller('App\\Controller\\CommentController::listComments', {'id':article.id})) }} 
            {% endif %}
            {#formulaire pour les commentaires #}
            <form action="{{ path('app_comment_insert', {"id":article.id}) }}" method="post">
            {{ render(controller('App\\Controller\\CommentController::newComment')) }} 
            </form>
        </article>
        
    {% endfor %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# permet de garder le block tel qu'il est défini dans layout et d'y ajouter notre contenu spécifiqu / sinon on perd les script JQ et BootStrap #}
    <script src="{{ asset('JS/index.js') }}"></script>
{% endblock %}
