{% extends 'layout.html.twig' %}


{% block content %}
    <h1>Accueil</h1>
    
    {% for article in last_articles %}
        {# {% include 'article/preview.html.twig' with {"article": article} only %}  #}
        
        <article class="jumbotron">
            <h3>{{ article.title}}</h3>
            <p>par {{ article.author}}</p>       
            <p>{{ article.content}}</p>
            <button class="btn btn-primary btn-xs showcomment" data="{{ article.id }}">afficher les commentaires</button>
            {{ render(controller('App\\Controller\\CommentController::listComments', {'id':article.id})) }} 
            {#formulaire pour les commentaires #}
            <form action="{{ path('app_comment_insert', {"id":article.id}) }}" method="post">
            {{ render(controller('App\\Controller\\CommentController::newComment')) }} 
            </form>
        </article>
        
    {% endfor %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# permet de garder le block tel qu'il est défini dans layout et d'y ajouter notre contenu spécifiqu / sinon on perd les script JQ et BootStrap #}
    <script src="{{ asset('JS/index.js') }}"></script>
{% endblock %}
