<table class="table">
    <tr>
        <th colspan="6">informations sur le bébé</th>
    </tr>
    <tr>
        <td>{{ birth.firstname }}</td>
        <td>{{ birth.gender }}</td>
        <td>{{ birth.weight }}</td>
        <td>{{ birth.height }}</td>
        <td>{{ birth.birthdate|date('d/m/Y') }}</td>
        <td>{{ birth.birthhour|date('H:i') }}</td>
    </tr>
</table>