{% extends 'base.html.twig' %}

{% block title %}Blog Symfony{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}"/> {# on donne a asset le chemin depui le rep public. #}
{% endblock %}


{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script>
        $('.flash').ready(function(){
            setTimeout(function(){$('.flash').hide('slow');}, 3000);
        });
   </script>
{% endblock %}


{% block body %}
   
    {% if is_granted('ROLE_ADMIN')%}
       {{ include('navbaradmin.html.twig') }}  
    {% endif %}
    <!-- NAV - -->
    {{ include('navbar.html.twig') }}     
    <div class="container">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="flash alert alert-{{ type }}">
                {{ message|raw }}  {# raw dit que si y a du html, on l'affiche en HTML #}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}
        {% endblock %} 
    </div> {# fin de container #}
{% endblock %}

