{% extends 'layout.html.twig' %}



{% block content %}
    <h1> Modification profil </h1>
    
    {{ form_start(form) }} {# ouvre notre balise form #}
  
        {{ form_row(form.prenom) }} {# affiche le bloc input pour ce champ #}
        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.datenaissance) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.cp) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.avatar) }}
        {{ form_row(form.mdpclair) }}
        
        <div class="form-btn-group pull-right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_user_view') }}" class="btn btn-default">retour</a>
        </div>
    {{ form_end(form) }} {# ferme notre balise form #}
{% endblock %}
