{% extends 'layout.html.twig' %}

{% block content %}
    
        <h1>Profil</h1>
        <div class="row">
            {% include 'aside.html.twig' %}
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9" >
                        <div class="panel panel-info ">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ user.getfullname }}</h3>
                            </div>
                        </div>
                        <div class="panel-body row">
                            
                            <div class="col-md-5 col-lg-5 " align="center"> 
                                <img alt="User Pic" src="{{ asset('avatars/' ~ user.avatar ) }}" class="img-rounded img-responsive"> 
                            </div>

                            <div class=" col-md-7 col-lg-7 "> 
                                <table class="table table-user-information">

                                    <tr>
                                        <td>Nom:</td>
                                        <td>{{ user.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Prenom:</td>
                                        <td>{{ user.firstname }}</td>
                                    </tr>
                                    <tr>
                                        <td>datenaissance</td>
                                        <td>{{ user.birthdate|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>telephone</td>
                                        <td>    {{ user.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>adresse</td>
                                        <td>{{ user.adress }}</td>
                                    </tr>
                                    <tr>
                                        <td>cp</td>
                                        <td>{{ user.cp }} <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ville</td>
                                        <td>{{ user.city }}<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>pays</td>
                                        <td>{{ user.country }}<br>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="col-md-6  pull-right">
                               <a class="btn btn-primary" href="{{ path('app_user_edit') }}" >Edit Profile</a>
                                 <a class="btn btn-primary" href="{{ path('app_user_editpassword') }}" >Edit Password</a>
                            </div>
                        </div> 
                    </div>                         
                </div>
            </div>
        </div>
{% endblock %}
