{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}


{% block javascripts %}
    {{ parent() }}
      <script>
       $(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })
    });


    $('[data-toggle="tooltip"]').tooltip();

    $('button').click(function(e) {
        e.preventDefault();
        alert("This is a demo.\n :-)");
    });
});
   </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                <a href="{{ path('app_user_edit') }}" >Edit Profile</a> <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 toppad" >
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ user.getfullname }}</h3>
                    </div>
                </div>
                <div class="panel-body">
        <div class="row">
            <div class="col-md-5 col-lg-5 " align="center"> 
                <img alt="User Pic" src="{{ asset('avatars/' ~ user.avatar ) }}" class="img-rounded img-responsive"> 
            </div>

            <div class=" col-md-7 col-lg-7 "> 
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Nom:</td>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Prenom:</td>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <td>datenaissance</td>
                            <td>{{ user.birthdate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>telephone</td>
                            <td>    {{ user.phone }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                        </tr>
                        <tr>
                            <td>adresse</td>
                            <td>{{ user.adress }}</td>
                        </tr>
                        <tr>
                            <td>cp</td>
                            <td>{{ user.cp }} <br>
                            </td>
                        </tr>
                        <tr>
                            <td>ville</td>
                            <td>{{ user.city }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>pays</td>
                            <td>{{ user.country }}<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                </div>
            </div>                            
        </div>                                        
    </div>
{% endblock %}
